In [7]:
import pandas as pd

df = pd.DataFrame({'ID':['1', '2', '3'], 'col_1': [0, 2, 3], 'col_2':[2, 4, 5]})


mylist = ['a', 'b', 'c', 'd', 'e', 'f']

In [8]:
df

  ID  col_1  col_2
0  1      0      2
1  2      2      4
2  3      3      5

In [9]:
def get_sublist(sta,end):
    return mylist[sta:end+1]

df['col_3'] = df.apply(lambda x: get_sublist(x.col_1, x.col_2), axis=1)

In [10]:
df#,

  ID  col_1  col_2      col_3
0  1      0      2  [a, b, c]
1  2      2      4  [c, d, e]
2  3      3      5  [d, e, f]

In [11]:
df['col_3'] = df.apply(lambda x: get_sublist(x.col_1, x.col_2), axis=1,result_type='expand')
df

  ID  col_1  col_2 col_3
0  1      0      2     a
1  2      2      4     c
2  3      3      5     d